
/* Header */
header {
    background-image: linear-gradient(to right, blueviolet , indigo);
    color: white;
    text-align:center;
    height: 50px;
    margin: auto;
  }

#main {
    margin-top: 10px;
}

/* Search Form */
form {
    padding: 10px;
}

#searchBar {
    width: 100%;
    border: 1px solid slategray;
    border-radius: 4px; 
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
}

#searchBtn {
    width: 100%;
    margin-top: 10px;
    border: 1px solid steelblue;
    border-radius: 4px;
    background: steelblue;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Saved Search */
ul {
    margin: 5px;
}

li {
    border: 1px solid slategray;
    border-radius: 4px; 
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    text-align: center;
    margin: 10px;
}

/* City Day Weather */
#dayWeather {
    border: 1px solid slategray;
    border-radius: 4px; 
}
/* City Forecast */
